<div class="games-played-section">
    <div class="games-played-header">
        <div class="header game">
            Game
        </div>
        <div class="header pick">
            Plays
        </div>
        <div class="header pick">
            Picked By Matt
        </div>
        <div class="header pick">
            Picked By Kelly
        </div>
        <div class="header pick">
            Picked By Jen
        </div>
        <div class="header pick">
            Picked By Alyssa
        </div>
    </div>
    <hr class="border">
    <div *ngFor="let game of gamesPlayed; let i = index" class="games-played row{{i%2}}">
        <div class="game">
            {{game.gameName}}
        </div>
        <div class="pick"  [ngClass]="{'has-played': game.totalPlays > 0, 'not-played': game.totalPlays === 0}">
            {{game.totalPlays}}
        </div>
        <div class="pick" [ngClass]="{'has-played': game.mattPlays > 0, 'not-played': game.mattPlays === 0}">
            {{game.mattPlays}}
        </div>
        <div class="pick" [ngClass]="{'has-played': game.kellyPlays > 0, 'not-played': game.kellyPlays === 0}">
            {{game.kellyPlays}}
        </div>
        <div class="pick" [ngClass]="{'has-played': game.jenPlays > 0, 'not-played': game.jenPlays === 0}">
            {{game.jenPlays}}
        </div>
        <div class="pick" [ngClass]="{'has-played': game.alyssaPlays > 0, 'not-played': game.alyssaPlays === 0}">
            {{game.alyssaPlays}}
        </div>
    </div>
</div>
