<div class="games-played-section">
    <div class="games-played-header">
        <div class="header game">
            Game
        </div>
        <div class="header pick">
            Plays
        </div>
        <div *ngFor="let player of players" class="header pick">
            Picked By {{player.firstName}}
        </div>
    </div>
    <hr class="border">
    <div *ngFor="let game of gamesPlayed; let i = index" class="games-played row{{i%2}}">
        <div class="game" *ngIf="game?.gameName && game.gameName !==''">
            {{game.gameName}}
        </div>
        <div class="game" *ngIf="!game.gameName || game.gameName ===''">
            <a href="https://boardgamegeek.com/boardgame/{{game.gameId}}">{{game.gameId}}</a> Game name error.
        </div>
        <div class="pick"  [ngClass]="{'has-played': game.totalPlays > 0, 'not-played': game.totalPlays === 0}">
            {{game.totalPlays}}
        </div>
        <div *ngFor="let playerGame of game.playerGames" class="pick" [ngClass]="{'has-played': playerGame.picks > 0, 'not-played': playerGame.picks === 0}">
            {{playerGame.picks}}
        </div>
    </div>
</div>
