<div *ngFor="let factionType of factionTypeData">
    <div class="factions-section" *ngFor="let displayFaction of factions">
        <div *ngIf="factionType.id === displayFaction.factionTypeId">
            <div class="faction-title">
                {{factionType.name}}
            </div>  
            <div class="faction-titles-row">
                <div class="factions-titles">
                    <div class="title factions-name">
                        Name
                    </div>
                    <div *ngFor="let player of players" class="title factions-player2">
                        <span>{{player.firstName}}</span>
                    </div>
                    <div class="end-buffer"></div>
                </div>
            </div>
            <div class="game-divider">
                <div class="divider"><hr></div>
            </div>
            <div class="player-factions">
                <div *ngFor="let factionGame of displayFaction.factionGame; let i = index">
                    <app-gs-fn-game-faction 
                        [factionTypeId]="factionType" 
                        [factionGame]="factionGame"
                        [bothCol]="bothCol"
                        [players]="players"
                        [last]="((i+1) === displayFaction.factionGame.length)">
                    </app-gs-fn-game-faction>
                </div>
            </div> 
        </div>
    </div>
</div>