<div *ngFor="let factionType of factionTypeData">
    <div class="factions-section" *ngFor="let displayFaction of factions">
        <div *ngIf="factionType.id === displayFaction.factionTypeId">
            <div class="faction-title">
                {{factionType.name}}
            </div>  
            <div class="factions-titles">
                <div class="title factions-name"></div>
                <div *ngFor="let player of players" class="title factions-player">{{player.firstName}}</div>
            </div>
            <hr>
            <div class="player-factions">
                <div *ngFor="let factionGame of displayFaction.factionGame" class="faction-game-row">
                    <div class="game-image-section">
                        <img class="game-image" src="{{utils.getGameImage(factionGame.gameId, bothCol)}}"/>
                    </div>
                    <div class="name-column">
                        <div vlass="name">
                            {{utils.getGameName(factionGame.gameId, bothCol)}}
                        </div>
                    </div>
                    <div class="factions-column">
                        <div *ngFor="let faction of factionGame.factions; let i = index" class="faction-row row{{i+1}}">
                            <div class="faction-name">{{faction.name}}</div>
                            <div *ngFor="let player of players" class="factions-player2">
                                <div *ngFor="let count of faction.playerCount">
                                    <div *ngIf="player.id === count.playerId">{{count.count}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>