.page {
    background-color: white;
    padding-bottom: 2rem;
}

.add-play {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 14rem;
}

.inputs{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 2rem 10rem;
}

.top-inputs{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 2rem;
}

.cycle-row{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: .3rem 1rem;
}
.list-order {
    width: 5%;
}
.list-row{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: .3rem 1rem;
}

.cycle-id {
    padding: 0 2rem;
}

.row0 {
    background-color: lightgray;
}

.add-play-header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    background-color: grey;
}

.date {
    display: flex;
    flex-direction: row;
}

.cycles-title {
    width: 98%;
    background-color: gray;
    height: 3rem;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: white;
    padding-right: 20rem;
}

.show-cycles {
    padding: 2rem 10rem;
}

hr {
    width: 100%;
    height: 1px;
}

.cycle-order {
    width: 10%;
}

.cycle-id {
    width: 10%;
}

.cycle-name {
    width: 55%
}

.cycle-display {
    width: 10%
}

.delete {
    width: 5%
}

.headers {
    font-weight:600
}

.select-game {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 10rem;
}

.select-game-dropdown {
    padding-right: 3rem;
    min-width: 40%;
}
.notes {
    min-width: 40%;
}

.cycle-input {
    padding-right: 3rem;
}

.game-dropdown {
    min-width: 75%;
}

.deleted-cycle-text {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 10rem;
    color: red;
}

.enable-deletes {
    padding-left: 20rem;
}

.selectable {
    cursor: pointer;
}

.input-full {
    width: 35rem;
}

.large-dropdown {
    width: 45%;
}

.small-dropdown {
    width: 15%;
}