.header {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    justify-content:center;
    color:black;
    background-color: lightgray
}

.sub-header {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    justify-content:center;
    color:black;
    background-color: gray
}

.player-stats-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.7rem;
}

.individual-game-wins-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem;
}

.stats-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats-row-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.total-games-played-section {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.player-wins-section {
    display: flex;
    justify-content: start;
    width: 20%;

}
.player-wins-game-list {
    display: flex;
    flex-direction: column;
}
.player-wins-row {
    padding: 0 5%;
}

.player-wins {
    height: 7rem;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}
.player-percent {
    height: 4rem;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.player-name {
    height: 8rem;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}

.four-items {
    min-height: 13rem;
    display: flex;
    flex-direction: row;
}

.pie-chart {
    min-width: 40%;
}
.total-wins {
    padding: 1.5rem 0 1.5rem 0;
    min-width: 40%;
    min-height: 7rem;
    display: flex;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
}
.total-games-played {
    font-size: 1.5rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-selectors {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
}

.dates-selection {
    padding: 0 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    background-color: lightgray;
}


.game-row0 {
    padding-left: 5%;
    padding-right: 5%;
    height: 6rem;
    display: flex;
    font-size: 1.1rem;
    flex-direction: row;
  }
  
  .game-row1 {
    padding-left: 5%;
    padding-right: 5%;
    height: 6rem;
    display: flex;
    font-size: 1.1rem;
    background: #ECECEC;
    flex-direction: row;
  }

.game-section-left {
    width: 28%;
    height: 5.8rem;
    
}

.game-section-middle {
    width: 52%;
    height: 5.8rem;
    display:flex;
    font-size: 3;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.game-section-right {
    width: 20%;
    height: 5.8rem;
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
}
  
.game-image {
    height: 5.8rem;
}