.header {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    justify-content:center;
    color:white;
    background-color: rgb(29, 26, 206);
}

.pattern {
    background-image: repeating-linear-gradient(11deg, rgba(136, 135, 135, 0.25), rgb(145, 143, 143) 1px, transparent 0px, transparent 4px);
    background-size: 8px;
}

.RD {
    background-color: #ff0000;
  }
  .BR {
    background-color: #663300;
  }
  .BL {
    background-color: #0000ff;
  }
  .CY {
    background-color: #00ccff;
  }
  .GY {
    background-color: #737373
  }
  .OG {
    background-color: #ff6600
  }
  .GR {
    background-color: #33cc33
  }
  .PI {
    background-color: #ff3399
  }
  
  .VI {
    background-color: #6600cc
  }
  .YW {
    background-color: #ffff00
  }
  .BK {
    background-color: #000000
  }