
<div class="login-section">
    <h1 *ngIf="authenticationService.userData | async">Hello {{ (authenticationService.userData | async)?.email }}</h1>
    <div *ngIf="!(authenticationService.userData | async)">
        <div class="inputs">
            Username: <input class="input" type="text" [(ngModel)]="email" placeholder="email">
            Password: <input class="input" type="password" [(ngModel)]="password" placeholder="password">
        </div>
        <div class="buttons">
            <button (click)="signIn()">Login</button>
        </div>
    </div>
    <div class="buttons">
        <button (click)="signOut()" *ngIf="authenticationService.userData | async">Logout</button>
    </div>
</div>
