.page {
    background-color: white;
    padding-bottom: 2rem;
}

.add-play {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 14rem;
}

.inputs{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 2rem 10rem;
}

.top-inputs{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 2rem;
}

.video-row{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: .3rem 1rem;
}
.video-id {
    padding: 0 2rem;
}

.row1 {
    background-color: lightgray;
}

.add-play-header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    background-color: grey;
}

.date {
    display: flex;
    flex-direction: row;
}

.videos-title {
    width: 98%;
    background-color: gray;
    height: 3rem;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: white;
    padding-right: 20rem;
}

.show-videos {
    padding: 2rem 10rem;
}

hr {
    width: 100%;
    height: 1px;
}

.fation-order {
    width: 5%;
}

.fation-type-id {
    width: 10%;
}

.fation-type-description {
    width: 15%;
}

.game-video-id {
    width: 10%
}

.video-description {
    width: 45%
}
.delete{
    width:5%
}

.headers {
    font-weight:600
}

.select-game {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 10rem;
}

.select-game-dropdown {
    padding-right: 3rem;
}

.deleted-video-text {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 10rem;
    color: red;
}

.enable-deletes {
    padding-left: 20rem;
}

.selectable {
    cursor: pointer;
}

.input-full {
    width: 35rem;
}