.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 4;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    z-index: 4;
  }

  .sticky-header {
    top: 0vh;
  }
  
  .sidenav {
    padding: 20px;
    width:max-content;
    position: fixed;
    z-index: 4;
  }
  .mat-drawer-container {
    background-color: white;
  }