.games-played-section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
} 

.games-played-header {
    display: flex;
    flex-direction: row;
    height: 2rem;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 2rem;
}

.games-played {
    display: flex;
    flex-direction: row;
    min-height: 1.4rem;
    padding-left: 2rem;
}

.date {
    min-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 45%
}

.expansions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 45%
}

.row0 {
    background-color: white;
}

.RDrow1 {
    background-color: #fc5e5e;
  }
  .BRrow1 {
    background-color: #7b5835;
  }
  .BLrow1 {
    background-color: #8080fd;
  }
  .CYrow1 {
    background-color: #72ddf8;
  }
  .GYrow1 {
    background-color: #b0afaf
  }
  .OGrow1 {
    background-color: #eb9b67
  }
  .GRrow1 {
    background-color: #73ca73
  }
  .PIrow1 {
    background-color: #ed76b2
  }
  
  .VIrow1 {
    background-color: #8742cb
  }
  .YWrow1 {
    background-color: #8c8c40
  }
  .BKrow1 {
    background-color: #777777
  }

.border {
    width: 100%;
}

.has-played {
    font-weight:500;
}

.not-played {
    font-weight:300;
}