.leman-games-section {
    padding-bottom: 8rem;
}

.selections {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.selection {
    padding-left: 2rem;
    padding-right: 2rem;
}
.collection-section {
    padding-top: 2.7rem;
}