<div>
    <div class="selections">
        <div class="label">Filters:</div>
        <div class="selection">
            <mat-form-field appearance="fill">
                <mat-label>Collections to Display</mat-label>
                <mat-select [(ngModel)]="display" name="collections">
                    <mat-option *ngFor="let col of playerCollections.collectionGroups" [value]="col.id">
                        {{formatListOfNames(col.associatedPlayers)}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="selection">
            <mat-form-field appearance="fill">
                <mat-label>Number of Players</mat-label>
                <mat-select [(ngModel)]="numPlayers" name="players">
                    <mat-option *ngFor="let i of playerCountList" [value]="i.value">
                        {{i.viewValue}} {{playerSuffix(i.value)}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="selection">
            <mat-form-field appearance="fill">
                <mat-label>Time</mat-label>
                <mat-select [(ngModel)]="time" name="time">
                    <mat-option *ngFor="let i of timeList" [value]="i.value">
                        {{i.viewValue}} {{minuteSuffix(i.value)}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
    </div>
    <div *ngFor="let collection of playerCollections.collectionGroups">
        <div *ngIf="collection.id !== 'ALL'">
            <div [hidden]="display !== 'ALL' && display !== collection.id" class="leman-games-section">
                <app-leman-collection [collection]="collection.collection" [title]="collection.associatedPlayers" [player-count]="numPlayers" [time]="time"></app-leman-collection>
            </div>
        </div>
    </div>
</div>
