<div>
    <div class="selections">
        <div class="label">Filters:</div>
        <div class="selection">
            <mat-form-field appearance="fill">
                <mat-label>Collections to Display</mat-label>
                <mat-select [(ngModel)]="display" name="collections">
                    <mat-option *ngFor="let col of collections" [value]="col.value">
                        {{col.viewValue}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="selection">
            <mat-form-field appearance="fill">
                <mat-label>Number of Players</mat-label>
                <mat-select [(ngModel)]="players" name="players">
                    <mat-option *ngFor="let i of playerCountList" [value]="i.value">
                        {{i.viewValue}} {{playerSuffix(i.value)}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="selection">
            <mat-form-field appearance="fill">
                <mat-label>Time</mat-label>
                <mat-select [(ngModel)]="time" name="time">
                    <mat-option *ngFor="let i of timeList" [value]="i.value">
                        {{i.viewValue}} {{minuteSuffix(i.value)}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
    </div>
    <div [hidden]="display !== 'ALL' && display !== 'LEM'" class="leman-games-section">
        <app-leman-collection [player-count]="players" [time]="time"></app-leman-collection>
    </div>
    <div [hidden]="display !== 'ALL' && display !== 'HEN'"  class="hendrickson-games-section">
        <app-hendrickson-collection [player-count]="players" [time]="time"></app-hendrickson-collection>
    </div>
</div>
