<div class="note-banner">
    <div class="note-text">
        <div class="select-factions-game">
            <mat-form-field appearance="fill">
                <mat-label>Sections to Display</mat-label>
                <mat-select [(ngModel)]="display" multiple name="collections">
                    <mat-option *ngFor="let col of types" [value]="col.value">
                        {{col.viewValue}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>

        <div class="select-factions-game">
            <mat-form-field appearance="fill">
                <mat-label>Categories</mat-label>
                <mat-select [(ngModel)]="displayCategory" multiple name="collections">
                    <mat-option *ngFor="let col of mechanics" [value]="col.id">
                        {{col.value}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>

        <div class="select-factions-game">
            <mat-form-field appearance="fill">
                <mat-label>Designers</mat-label>
                <mat-select [(ngModel)]="displayDesigners" multiple name="collections">
                    <mat-option *ngFor="let col of designers" [value]="col.id">
                        {{col.value}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>

        <div class="select-factions-game">
            <mat-form-field appearance="fill">
                <mat-label>Artists</mat-label>
                <mat-select [(ngModel)]="displayArtists" multiple name="collections">
                    <mat-option *ngFor="let col of artists" [value]="col.id">
                        {{col.value}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>

        <div class="select-factions-game">
            <mat-form-field appearance="fill">
                <mat-label>Order</mat-label>
                <mat-select [(ngModel)]="displayOrder" name="collections" (selectionChange)="sortgames()">
                    <mat-option *ngFor="let col of gameOrder" [value]="col.value">
                        {{col.viewValue}}
                      </mat-option>
                </mat-select>
                </mat-form-field>
        </div>

        <div class="select-expansions">
            <mat-form-field class="select-faction-dropdown" appearance="fill">
                <mat-label>Select Games</mat-label>
                <mat-select [(ngModel)]="selectedGames" multiple name="bothCol">
                    <mat-option *ngFor="let col of bothCol" [value]="col.objectid">
                        {{col?.name?.text | replaceText}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="game-section" *ngFor="let game of playData">
    <div *ngIf="checkMechanics(game.gameDetails.boardGameCategory)
        && checkArtists(game.gameDetails.artist)
        && checkDesigners(game.gameDetails.designer)
        && (selectedGames.length === 0 || selectedGames.includes(game.gameId)) 
        && (display.length === 0
        || (display.includes('typ-06D') ) 
        || (display.includes('typ-07E') && (game.expansions.owned.length > 0 || game.expansions.unowned.length > 0)) 
        || (display.includes('typ-03F') && game.factions.length > 0) 
        || (display.includes('typ-04S') && game.scenarios.length > 0)
        || (display.includes('typ-02W') && game.winners.length > 0)
        || (display.includes('typ-05P') && game.plays.length > 0))">
    <div class="game-header">
        <img class="header-image" src="{{game.gameImage}}"/>
        <div class="header-text-section">
            <div class="header-text" [innerHTML]="game.gameName"></div>
        </div>
    </div>
    <div class="game-body">
        <div class="game-information">
            <div class="game-image-section">
                <div *ngIf="game.gameImage.length !== 0">
                    <img class="game-image-stats" src="{{game.gameImage}}"/>
                </div>
                <div class="game-name" *ngIf="game.gameImage === undefined || game.gameImage === ''">
                    Game name not found
                </div>
            </div>        
            <div class="game-name-section">
                <div class="game-name">
                    <div *ngIf="game.gameName !== undefined && game.gameName !== ''" [innerHTML]="game.gameName">
                    </div>
                    <div *ngIf="game.gameName === undefined || game.gameName === ''">
                        Please add 
                        <a href="https://boardgamegeek.com/boardgame/{{game.gameId}}">this game</a> to a collection on BGG
                    </div>
                </div>
            </div>
        </div>

        <app-gs-game-details *ngIf="display.length === 0 || display.includes('typ-06D')" [deets]="game.gameDetails"></app-gs-game-details >

        <div *ngIf="game.expansions && ((game.expansions.owned && game.expansions.owned.length > 0) ||
            (game.expansions.unowned && game.expansions.unowned.length > 0))">
            <tts-gs-expansions *ngIf="display.length === 0 || display.includes('typ-07E')"  
                [expansions]="game.expansions" [bothCol]="bothCol"></tts-gs-expansions>
        </div>

        <app-gs-wins-section *ngIf="display.length === 0 || display.includes('typ-02W')" [winners]="game.winners"></app-gs-wins-section>

        <app-gs-plays-section *ngIf="display.length === 0 || display.includes('typ-05P')" [plays]="game.plays"></app-gs-plays-section>

        <app-gs-factions-section *ngIf="display.length === 0 || display.includes('typ-03F')" 
            [factions]="game.factions" [bothCol]="bothCol" [allFactions]="newFactions"></app-gs-factions-section>
        
        <div *ngIf="game.scenarios && game.scenarios.length > 0">
            <app-gs-scenarios-section *ngIf="display.length === 0 || display.includes('typ-04S')" [scenarios]="game.scenarios" [bothCol]="bothCol"></app-gs-scenarios-section>
        </div>
        <app-gs-videos *ngIf="display.length === 0 || display.includes('typ-08V')" [game]="game"></app-gs-videos>
        
    </div>
</div>
</div>
