.note-banner {
    height: 5rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.7rem 2.5rem 0 2.5rem;

}

@media (max-width: 1200px) {
    .note-banner {
        height: auto;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 2.5rem;
    }

}

.note-text {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.game-body {
    padding-bottom: 2rem;
}

.game-header {
    height: 5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-image {
    position: absolute;
    height: 94rem;
    clip-path: polygon(0 47.34%, 100% 47.34%, 100% 52.616%, 0 52.616%);
    width: 100%;
}

.header-text-section {
    z-index: 12;
    width: 45rem;
    height:100%;
    background: linear-gradient(0.25turn, black, 75%, rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text {
    z-index: 13;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    margin-left: 4rem;
}

.game-information {
    height: 7rem;
}

.game-information {
    background: linear-gradient(gray, 5%, white);
    padding-top: 2rem;
    height: 15rem;
    display: flex;
    flex-direction: row;
}

.game-image-stats {
    height: 12rem;
    width: auto;
}

.game-image-section {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7rem;
}

.game-name {
    font-size: 2rem;
    font-weight: 600;
}

.game-name-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: center;
}
