<div>
    <div class="section-heading">
        <div *ngIf="title" class="heading-text">{{formatListOfNames(title)}}</div>
    </div>
    <div *ngIf="genericCollection$ | async as genericCollection">
        <div class="game-row{{i % 2}}" *ngFor="let game of genericCollection | collectionFilter: players : time; let i = index">
            <div class="game-section-left">
                <img class="game-image" src="{{game.image}}"/>
            </div>
            <div class="game-section-middle">
                <div class="game-name">
                    {{game.name.text | replaceText}} ({{game.yearpublished}})
                </div>
            </div>
            <div class="game-section-right">
                <div class="players">
                    {{game.stats.minplayers}} - {{game.stats.maxplayers}} players
                </div>
                <div class="time">
                    {{game.stats.minplaytime}} - {{game.stats.maxplaytime}} minutes
                </div>
            </div>
        </div>
    </div> 
</div>