.player-profile {
    display: flex;
    flex-direction: column;
    width: 100%
}

.profile-header {
    display: flex;
    flex-direction: row;
    width: 100%
}

.profile-body {
    display: flex;
    flex-direction: column;
    width: 100%
}

.profile-section {
    display: flex;
    flex-direction: row;
    width: 100%
}

.profile-left {
    width: 50%;
    display: flex;
    justify-content: right;
    flex-direction: row;
    padding: 0 2rem 0 0;
}

.profile-right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 2rem;
}

.profile-body-left {
    width: 50%;
    display: flex;
    justify-content: right;
    flex-direction: row;
    padding: 2rem 2rem 2rem 0;
}

.profile-body-right {
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 2rem 0 2rem 2rem;
}

.separater {
    height: 1rem;
    width: 60%;
    margin: 0 20% 0 20%;
}

.meeple {
    height: 10rem;
    width: 10rem;
}

.player-name {
    font-size: 3rem;
}

.game-group-names {
    font-size: 1.5rem;
    padding: .5rem 0;
}

.RD {
    background-color: #ff0000;
  }
  .BR {
    background-color: #663300;
  }
  .BL {
    background-color: #0000ff;
  }
  .CY {
    background-color: #00ccff;
  }
  .GY {
    background-color: #737373
  }
  .OG {
    background-color: #ff6600
  }
  .GR {
    background-color: #33cc33
  }
  .PI {
    background-color: #ff3399
  }
  
  .VI {
    background-color: #6600cc
  }
  .YW {
    background-color: #ffff00
  }
  .BK {
    background-color: #000000
  }