<div class="page">
    <div class="add-play-header">
        Add / Edit Factions
    </div>
    
    <div class="select-game">
        <div class="select-game-message">
            Select a game or a faction type to filter factions
        </div>
        <div class="select-game">
            <div class="select-game-message">
                Select a game or a faction type to filter factions
            </div>
            <div class="top-inputs">
                <div class="select-game-dropdown">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Game</mat-label>
                        <mat-select [(ngModel)]="filterSelectedGameIds" multiple name="getGames" (selectionChange)="getFactions2()">
                            <mat-option *ngFor="let col of bothCol" [value]="col.objectid">
                                {{col?.name?.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="select-type">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Faction Type</mat-label>
                        <mat-select [(ngModel)]="filterSelectedFactionTypeIds" multiple name="getFactionTypes" (selectionChange)="getFactions2()">
                            <mat-option *ngFor="let col of factionTypes" [value]="col.id">
                                {{col.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="enable-deletes">
                    <button (click)="enableDeletes()">
                        <span *ngIf="!deletesEnabled">Enable Delete</span>
                        <span *ngIf="deletesEnabled && permissions.includes('admin')">Disable Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="factionDeleted && deletesEnabled" class="deleted-faction-text">
        {{factionDeletedName.name}} has been deleted from {{utils.getFactionTypeName(factionTypes, factionDeletedName.typeId)}}
    </div>

    <div class="show-factions">
        <div class="faction-row headers">
            <div class="fation-type-name">
                Faction Type
            </div>
            <div class="game-name">
                Games
            </div>
            <div class="faction-name">
                Faction Name
            </div>
            <div class="delete">
                Edit
            </div>
            <div *ngIf="deletesEnabled" class="delete">
                Delete
            </div>
        </div>
        <hr>
        <div *ngFor="let faction of seletedNewFactionList2; let i = index">
            <div class="faction-row row{{i % 2}}">
                <div class="fation-type-name">
                    {{utils.getFactionTypeName(factionTypes, faction.typeId)}}
                </div>
                <div class="game-name">
                    <span *ngFor="let game of faction.gameId;let i = index">
                        {{utils.getGameName(game, bothCol)}}
                        <br/>
                        <hr *ngIf="i<faction.gameId.length-1">
                        
                    </span>
                </div>
                <div class="faction-name">
                    {{faction.name}}
                </div>
                <div class="delete">
                    <button (click)="setFacton(faction)">Edit</button>
                </div>
                <div *ngIf="deletesEnabled" class="delete">
                    <button (click)="deleteSelectedFaction(faction)">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="add-faction">
        <div class="bottom-inputs">
            <div class="select-game-dropdown">
                <mat-form-field class="input-full" appearance="fill">
                    <mat-label>Faction Name</mat-label>
                    <input matInput placeholder="Ex: Eyrie Dynasty" [(ngModel)]="editFaction.name">
                </mat-form-field>
            </div>
            <div class="select-type">
                <mat-form-field appearance="fill">
                    <mat-label>Select Faction Type</mat-label>
                    <mat-select [(ngModel)]="editFaction.typeId" name="getFactionTypes">
                        <mat-option *ngFor="let col of factionTypes" [value]="col.id">
                            {{col.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="select-type">
                <mat-form-field appearance="fill">
                    <mat-label>Select Games</mat-label>
                    <mat-select [(ngModel)]="editFaction.gameId" multiple name="getFactionTypes">
                        <mat-option *ngFor="let col of bothCol" [value]="col.objectid">
                            {{col?.name?.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="additional-games">
                <div class="select-game-dropdown">
                    <mat-form-field class="input-full" appearance="fill">
                        <mat-label>Search for addtional games</mat-label>
                        <input matInput placeholder="Ex: Eyrie Dynasty" [(ngModel)]="searchString" (keyup)="getAdditionalGames()">
                    </mat-form-field>
                </div>
            </div>
            <div class="select-games">
                <mat-form-field appearance="fill" style="width: -webkit-fill-available;">
                    <mat-label>Select Additional Games</mat-label>
                    <mat-select [(ngModel)]="additionalGameIds" multiple name="getFactionTypes">
                        <mat-option *ngFor="let col of bothCol2" [value]="col.id">
                            {{col?.name?.value}} ({{col?.yearpublished?.value}})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="submit">
            <button (click)="submit()" 
                [attr.disabled]="permissions.includes('admin') && editFaction.name !=='' && editFaction.typeId !== '' && editFaction.gameId.length > 0 ? null : ''">Submit</button>
        </div>
    </div>
</div>