<div class="expansion-section">
    <div class="expansion-title">
        Expansions
    </div> 

    <div *ngIf="expansions?.owned?.length && expansions.owned.length > 0" class="owned-expansion-section">
        <div (click)="toggleOwned()" class="expansion-sub-title">
            Owned Expansions ({{ expansions.owned.length }})
        </div> 
        <div *ngIf="expandOwned" class="games-list">
            <div class="expansion-game-row" *ngFor="let game of expansions.owned; let i = index">
                <tts-gs-e-exansion-game [game]="game" [last]="i + 1 === expansions.owned.length"></tts-gs-e-exansion-game>
            </div>
        </div>
    </div>

    
    <div *ngIf="expansions?.unowned?.length && expansions.unowned.length > 0"  class="owned-expansion-section">
        <div (click)="toggleUnowned()" class="expansion-sub-title">
            Unowned Expansions ({{ expansions.unowned.length }})
        </div> 
        <div *ngIf="expandUnowned" class="games-list">
            <div *ngFor="let games of expansions.unowned">
                <a target="_blank" href="https://boardgamegeek.com/boardgame/{{games.id}}">{{games.value}}</a>
            </div>
        </div>
    </div>
</div>