
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TabletopSyndicate-primary: mat.define-palette(mat.$indigo-palette);
$TabletopSyndicate-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TabletopSyndicate-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TabletopSyndicate-theme: mat.define-light-theme((
  color: (
    primary: $TabletopSyndicate-primary,
    accent: $TabletopSyndicate-accent,
    warn: $TabletopSyndicate-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TabletopSyndicate-theme);

/* You can add global styles to this file, and also import other style files */
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(5px + 6 * ((100vw - 320px) / 680));
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
}

body {
    margin: 0;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: white;
}

.mat-drawer-container {
  background-color:white;
  height: 100%;
}

.coming-soon {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  justify-content:center;
}

.inline-logo {
  height: 1rem;
  padding-left: .25rem;
}

.RD {
  background-color: #ff0000;
}
.BR {
  background-color: #663300;
}
.BL {
  background-color: #0000ff;
}
.CY {
  background-color: #00ccff;
}
.GY {
  background-color: #737373
}
.OG {
  background-color: #ff6600
}
.GR {
  background-color: #33cc33
}
.PI {
  background-color: #ff3399
}

.VI {
  background-color: #6600cc
}
.YW {
  background-color: #ffff00
}
.BK {
  background-color: #000000
}