<div class="home-page">
    <div class="selections">
        <tts-countdown></tts-countdown>
    </div>
    <div class="selections">
        <tts-current-selections></tts-current-selections>
    </div>
    <div class="video">
        <div class="video-header header pattern">{{ prepare }}</div>
        <div class="coming-soon">
            <tts-prepare-for-gn></tts-prepare-for-gn>
        </div>
    </div>
    <div class="plays">
        <div class="plays-header header pattern">{{ gamesPlayed }}</div>
        <tts-games-played></tts-games-played>
    </div>
</div> 
