.home-page {
    min-height: 20rem;
}

.header {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    justify-content:center;
    color:white;
    background-color: rgb(48, 98, 215);
}